/* The Modal (background) */
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: #e56060;
    text-shadow: 1px 1px 1px #ccc;
    margin-top: 12em;
    /*vertical-align: center;*/
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Code for Button */
.menuButton {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4DDBFF;
    color: white;
    border: 1px solid #4DDBFF;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}
.menuButton:hover {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #4DDBFF;
    border: 1px solid #4DDBFF;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}
.menuButton:active {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4DDBFF;
    color: white;
    border: 1px solid #4DDBFF;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
}
/* Modal Content */
.modal-content {
    background-color: #ffffff;
    opacity:0.25;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 30px;
    
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}